@import "/styles/mixins";

.guardBox {
  width: 100%;
  cursor: pointer;
  @include flexContainer(
    $justifyContent: space-between,
    $alignItems: flex-start
  );
  > div {
    &:nth-of-type(1) {
      @include flexContainer(
        $justifyContent: flex-start,
        $alignItems: flex-start
      );
      svg {
        flex: 0 0 32px;
      }
      h4 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }
    }
    &:nth-of-type(2) {
      display: none;
    }
  }
}

.activeGuard {
  position: relative;
  &:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--primaryColor);
    top: 0;
    left: -41px;
    position: absolute;
  }
  > div {
    &:nth-of-type(2) {
      svg {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .guardBox {
    > div {
      &:nth-of-type(1) {
        gap: 12px;
        h4 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }
      }
      &:nth-of-type(2) {
        display: block;
        svg {
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }
  .activeGuard {
    position: relative;
    &:before {
      display: none;
    }
    > div {
      &:nth-of-type(2) {
        svg {
          &:nth-of-type(1) {
            display: none;
          }
          &:nth-of-type(2) {
            display: block;
          }
        }
      }
    }
  }
}
