@import "/styles/mixins";

.mobileStepSection {
  background: #f4f5ff;
  display: none;
  > div {
    padding: 32px 16px;
    > div {
      > div {
        h2 {
          text-align: center;
        }
        ul {
          padding: 0;
          margin: 24px 0 0;
          list-style: none;
          padding: 0;
          @include flexContainer;
          flex-direction: column;
        //   max-width: 80%;
          li {
            width: 100%;
            @include flexContainer(
              $justifyContent: flex-start,
              $alignItems: flex-start
            );
            svg {
              flex: 0 0 32px;
            }
            h4 {
              font-size: 20px;
              line-height: 30px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .mobileStepSection {
    display: block;
  }
}
