@import "/src/styles/mixins";

.productCard {
  border-radius: 8px;
  background: var(--globalWhite);
  transition: all 0.3s ease-in-out;
  @include flexContainer($justifyContent: space-between);
  width: 100%;
  padding: 12px;
  box-shadow: 0px 1px 3px 0px #0000001A;
  > div {
    width: 100%;
  }
  .productInfo {
    @include flexContainer($gap: 12px, $alignItems: flex-start);
    flex-direction: column;
    h4,
    p {
      width: 100%;
    }
    h4 {
      margin: 0;
      font-size: 18px;
      line-height: 28px;
      color: var(--globalBlack);
    }
    p,
    span {
      font-size: 12px;
      line-height: 18px;
    }
    span {
      display: inline-block;
      padding: 4px 12px;
      border-radius: 20px;
      background: #e9f4ec;
      font-weight: 600;
    }
  }
  .seeProductBtn {
    width: 72px;
    align-self: flex-end;
    svg {
      width: 48px;
    }
  }
}
