@import "/src/styles/mixins";

.phoneNumberField {
  // @include flexContainer($gap: 0, $justifyContent: flex-start);
  // border: 1px solid #d0d5dd;
  // border-radius: 4px;
  position: relative;
  > div {
    > div {
      &:nth-of-type(2) {
        input {
          padding-left: 55px !important;
        }
      }
    }
  }
  // > div {
  //   flex: 1;
  // }
  span {
    padding: 12px 8px;
    flex: 0 0 45px;
    border: none;
    @include flexContainer;
    font-size: 16px;
    line-height: 24px;
    color: #344054;
    position: absolute;
    top: 65%;
    transform: translateY(-48%);
    left: 0;
    &:after {
      content: "";
      width: 1px;
      height: 24px;
      background-color: #e2ecf8;
      position: absolute;
      right: -4px;
    }
  }
}
