@import "/src/styles/mixins";

.comparisonPage {
  margin-top: -90px;
  padding-top: 130px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #eaebf3 0%, #ffffff 100%);
  .pageHeader {
    > div {
      h2 {
        text-align: center;
      }
    }
  }
  .cardContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    > div {
      .compareCardList {
        padding: 24px;
        border-radius: 8px;
        background-color: var(--globalWhite);
        box-shadow: 0px 3px 12px 0px #2a34851a;
        @include flexContainer($justifyContent: space-between);
        flex-direction: column;
        height: 100%;
        > div {
          width: 100%;
          &:nth-of-type(1) {
            h3 {
              font-size: 24px;
              line-height: 30px;
              font-weight: 600;
              margin: 0;
            }
            ol {
              @include flexContainer($alignItems: flex-start, $gap: 16px);
              flex-direction: column;
              margin: 0;
              padding: 24px 0 0 23px;
              li {
                width: 100%;
                font-size: 16px;
                line-height: 30px;
                color: #344054;
                font-weight: 600;
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        @include flexContainer;
        > div {
          width: 100%;
        }
      }
    }
  }
  .mobileShowDifference {
    display: none;
  }
  .featuresContainer {
    > div {
      overflow-x: auto;
      overflow-y: hidden;
      border-radius: 1px;
      table {
        width: 100%;
        table-layout: fixed;
        thead {
          tr {
            background: linear-gradient(0deg, #bcc0da, #bcc0da),
              linear-gradient(0deg, #c6cad2, #c6cad2);
            th {
              padding: 20px 24px;
              font-size: 16px;
              line-height: 24px;
              color: #1d2939;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 20px 24px;
              border: 0.5px solid #c6cad2;
              font-size: 14px;
              line-height: 20px;
              &:nth-of-type(1) {
                background: #c6cad261;
                font-size: 16px;
                line-height: 24px;
                color: #1d2939;
              }

              ul {
                padding-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .mobileFeatureContainer {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .comparisonPage {
    .cardContainer {
      > div {
        &:nth-of-type(2) {
          flex-wrap: wrap;
          > div {
            flex: 1 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .comparisonPage {
    background: transparent;
    margin-top: -58px;
  padding-top: 74px;
    .pageHeader {
      display: none;
    }
    .cardContainer {
      margin-top: 0;
      margin-bottom: 0;
      > div {
        .compareCardList {
          background-color: transparent;
          box-shadow: unset;
          padding: 0;
          > div {
            &:nth-of-type(1) {
              h3 {
                font-size: 16px;
                line-height: 24px;
              }
              ol {
                display: none !important;
              }
            }
            &:nth-of-type(2) {
              display: none;
            }
          }
        }
        &:nth-of-type(2) {
          flex-wrap: wrap;
          align-items: stretch;
          margin-top: 24px;
          > div {
            flex: 1 1 50%;
            // max-width: 100%;
          }
        }
      }
    }
    .mobileShowDifference {
      margin-block: 24px;
      display: flex;
      > div {
        label {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .featuresContainer {
      display: none;
    }
    .mobileFeatureContainer {
      display: flex;
      row-gap: 16px;
    }
  }
}
