@import "/src/styles/mixins";

.personalLoanQuestionnairePage {
  .headerSection {
    background: linear-gradient(
      178.72deg,
      #1b6430 8.13%,
      rgba(27, 100, 48, 0.901) 72.53%,
      rgba(27, 100, 48, 0.5) 155.76%,
      rgba(27, 100, 48, 0) 178.88%
    );
    min-height: 320px;
    padding-top: 24px;
    position: relative;
    .applyPersonalLoan,
    .whiteKashti {
      position: absolute;
      bottom: 0;
    }
    .applyPersonalLoan {
      left: 0;
    }
    .whiteKashti {
      right: 0;
    }
    > div {
      > div {
        > div {
          &:nth-of-type(1) {
            margin-bottom: 20px;
            button {
              @include flexContainer($justifyContent: flex-start, $gap: 12px);
              color: var(--globalWhite);
              background-color: transparent;
              border: none;
              outline: none;
              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
          &:nth-of-type(2) {
            h1,
            p {
              text-align: center;
              color: var(--globalWhite);
            }
            h1 {
              font-size: 32px;
              line-height: 48px;
              margin: 0 0 8px;
            }
          }
        }
      }
    }
  }
  .questionairreSection {
    background-color: #f9f9f9;
    padding-bottom: 32px;
    > div {
      margin-top: -93px;
      position: relative;
      z-index: 2;
      > div {
        justify-content: center;
        row-gap: 20px;
        > div {
          .infoAccordian {
            background-color: var(--globalWhite);
            box-shadow: 0px 3px 12px 0px #2a34851a;
            border-radius: 8px;
            overflow: hidden;
            .infoAccordianHeader {
              @include flexContainer($justifyContent: space-between);
              padding: 16px;
              border-bottom: 1px solid #d0d5dd;
              cursor: pointer;
              h4 {
                font-size: 18px;
                line-height: 28px;
                color: #000;
                font-weight: 600;
                margin: 0;
              }
            }
            .infoAccordianContent {
              padding: 24px 16px;
              ul {
                @include flexContainer($gap: 12px, $alignItems: flex-start);
                flex-direction: column;
                li {
                  font-size: 16px;
                  line-height: 24px;
                  color: #475467;
                }
              }
              .bankSliderContainer {
                height: 75px;
                .logoSlide {
                  border: 1px solid #e4e4e4;
                  height: 52px;
                  @include flexContainer;
                  display: flex !important;
                  padding: 10px 12px;
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
          .activeAccordian {
            .infoAccordianContent {
              display: block;
            }
            .infoAccordianHeader {
              svg {
                transform: rotate(180deg);
              }
            }
          }
          .inActiveAccordian {
            .infoAccordianContent {
              display: none;
            }
          }
        }
      }
    }
  }
}
 
@media only screen and (max-width: 600px) {
  .personalLoanQuestionnairePage {
    .headerSection {
      min-height: 120px;
      padding-top: 10px;
      padding-bottom: 14px;
      .applyPersonalLoan,
      .whiteKashti {
        display: none;
      }
      > div {
        > div {
          > div {
            &:nth-of-type(1) {
              margin-bottom: 0;
              button {
                font-size: 14px;
                line-height: 21px;
                font-weight: 700;
              }
            }
            &:nth-of-type(2) {
              // display: none;
              h1 {
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                margin-top: 8px;
              }
              p {
                font-size: 14px;
                text-align: center;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
    .questionairreSection {
      background-color: #fff;
      > div {
        margin-top: 0px;
      }
    }
  }
  .headerLogin {
    min-height: unset !important;
    > div {
      > div {
        > div {
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }
}
