@import "/src/styles/mixins";

.formSection {
  form {
    max-width: 793px;
    margin: 48px auto 0;
    .inputBlock {
      @include flexContainer($alignItems: flex-start);
    }
    .radioGrpBlock {
      margin-top: 20px;
      h3 {
        font-size: 16px;
        line-height: 24px;
        color: var(--globalBlack);
        font-weight: 600;
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
      .radioGrpInner {
        @include flexContainer($gap: 20px, $justifyContent: flex-start);
        margin-top: 30px;
        flex-wrap: wrap;
        > label {
          //   width: 100%;
          flex: 1 0 386px;
        }
      }
    }
    .submitBlock {
      margin-top: 48px;
      button {
        width: 100%;
        max-width: 387px;
      }
    }
  }
  .dataSafetyInfo {
    @include flexContainer($gap: 4px);
    color: #475467;
    margin-top: 24px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 600px) {
  .formSection {
    form {
      margin-top: 20px;
      .submitBlock {
        margin-top: 24px;
      }
      .radioGrpBlock {
        .radioGrpInner {
          flex-direction: column;
          > label {
            flex: unset;
            width: 100%;
          }
        }
      }
    }
    .dataSafetyInfo {
      gap: 8px;
      svg {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
      }
      span {
        text-align: left;
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
}
