@import "/styles/mixins";

.mobileHeader {
  // display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--globalWhite);
  padding: 8px;
  box-shadow: 0px -2px 8px 0px #2a34851a;
  z-index: 9999999;
  padding-inline: 13px;
  ul {
    @include flexContainer($gap: 0, $justifyContent: space-between);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    li {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        padding-block: 2px;
        background-color: transparent;
        border: none;
        span {
          &:nth-of-type(1) {
            border-radius: 16px;
            padding: 6px 20px;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          &:nth-of-type(2) {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            color: #475467;
          }
        }
      }
      .activeMenu {
        span {
          &:nth-of-type(1) {
            background-color: #eaebf3;
            svg {
              path {
                fill: var(--primaryColor);
              }
            }
          }
          &:nth-of-type(2) {
            color: var(--primaryColor);
            font-weight: 700;
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 990px) {
//   .mobileHeader {
//     display: flex !important;
//   }
// }
