@import "/styles/mixins";

.customPieLegend {
  list-style: none;
  //   margin: 0;
  padding: 0;
  @include flexContainer;
  max-width: 80%;
  margin: 0 auto;
  li {
    width: 100%;
    @include flexContainer(
      //   $justifyContent: flex-start,
      $alignItems: flex-start
    );
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--globalBlack) !important;
      @include flexContainer($justifyContent: flex-start, $gap: 5px);
      flex-direction: column;
      margin: 0;
      span {
        display: inline-block;
        width: 100%;
        &:nth-of-type(2) {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
        }
      }
    }
  }
}

.chartLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--globalBlack);
  b {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}

.gaugeChartContainer {
  filter: drop-shadow(0 0 18.68px rgb(0, 0, 0, 0.26));
}

@media only screen and (max-width: 600px) {
  .customPieLegend {
    // flex-direction: column;
    max-width: 100%;
    gap: 10px;
    li {
      justify-content: flex-start;
      gap: 10px;
      flex: 1 0 calc(50% - 10px);
    }
  }
}
