@import "/styles/mixins";

.formSection {
  form {
    max-width: 793px;
    margin: 48px auto 0;
    .inputBlock {
      @include flexContainer;
    }
    .takePhotoSection {
      text-align: center;
      h3,
      p {
        text-align: center;
      }
      p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;
      }
      h3 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        font-weight: 600;
      }
      img {
        display: block;
        margin: 0 auto 12px;
      }
      button {
        display: inline-block;
        background: none;
        border: none;
        outline: none;
        color: var(--primaryColor);
        font-weight: 600;
      }
    }
    .submitBlock {
      margin-top: 24px;
      button {
        width: 100%;
        max-width: 387px;
      }
    }
  }
  .dataSafetyInfo {
    @include flexContainer($gap: 4px);
    color: #475467;
    margin-top: 24px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 600px) {
  .formSection {
    form {
      margin-top: 20px;
      .takePhotoSection {
        h3,
        p {
          text-align: left;
        }
      }
    }
    .dataSafetyInfo {
      gap: 8px;
      svg {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
      }
      span {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
