@import '/src/styles/mixins';

.comparisonCardBox {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 3px 8px 0px #2A34851A;
    .comparisonCardImg {
        padding: 24px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .cardInfo {
        padding: 24px;
        background-color: var(--globalWhite);
        h4 {
            margin: 0 0 10px;
            font-size: 16px;
            line-height: 24px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
        .comparisonCardBtn {
            @include flexContainer($justifyContent: space-between);
            padding: 16px 0 0;
            border-top: 1px solid #EAECF0;
            margin-top: 24px;
            > button {
                padding-block: 9px;
                &:nth-of-type(1) {
                    border: none;
                    color: #DD2208 !important;
                    background-color: none !important;
                }
            }
        }
    }
}