@import "/styles/mixins";

.inputTag {
  width: 100%;
  @include flexContainer($gap: 4px, $alignItems: flex-start);
  flex-direction: column;
  > div {
    width: 100%;
  }
  .inputLabel {
    @include flexContainer($justifyContent: flex-start, $gap: 4px);
    label {
      font-size: 14px;
      line-height: 21px;
      color: var(--globalBlack);
    }
  }
  .inputBlock {
    position: relative;
    > span {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 24px;
      color: var(--globalBlack);
      &:after {
        content: "";
        background-color: #e2ecf8;
        width: 1px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
        right: -8px;
        position: absolute;
      }
    }
    input {
      width: 100%;
      padding: 12px 16px 12px 55px;
      border: 1px solid #d0d5dd !important;
      border-radius: 4px;
      &::placeholder {
        color: #8793a6;
        font-size: 16px;
        line-height: 24px;
      }
      &:focus {
        outline: none !important;
      }
    }
  }
  .note {
    font-size: 14px;
    line-height: 21px;
  }
}
